= form_for @dream, :html => {:class => 'form-horizontal'} do |f|
  .control-group
    = f.label :name, 'Name:', :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'span6'
  .control-group
    .controls
      = f.submit "#{submit}", :class => 'btn btn-primary'
      = link_to 'Cancel', dreams_path, :class => 'btn'