= form_for(@dream) do |f|
  - if @dream.errors.any?
    #error_explanation.alert.alert-error
      %h3
        = pluralize(@dream.errors.count, "error")
        prohibited this dream from being saved:
      %ul
        - @dream.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :name
  .actions
    = f.submit