- @title = 'Dreams'
- mode = params[:edit] && @dreams.present? ? :editing : :listing

- content_for :header do
  .buttons
    - case mode
    - when :editing
      = link_to 'Done', dreams_path, :class => 'btn-link done'
    - when :listing
      - if @dreams.present?
        - edit_options = params.merge(:edit => true)
        = link_to dreams_path(edit_options), :class => 'edit' do
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-pencil.fa-inverse.fa-stack-1x
      = link_to new_dream_path, :class => 'new' do
        %i.fa.fa-plus-circle.fa-2x

%section.dreams.row
  .col-xs-12
    - if @dreams.present?
      = render :partial => 'dream', :collection => @dreams, :locals => {:mode => mode}
    - else
      .alert.alert-info.text-center
        No dreams yet! Get started by
        = link_to "adding a dream", new_dream_path, :class => 'alert-link'
        now.
