- @title = t('.title')

- content_for :header do
  .buttons
    .editing{:style => 'display: none'}
      = link_to t('.done'), dreams_path, :remote => true, :class => 'btn-link done'
    .listing{:style => 'display: block'}
      - if @dreams.present?
        = link_to dreams_path(:edit => true), :remote => true, :class => 'edit' do
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-pencil.fa-inverse.fa-stack-1x
      - unless @reached_dreams_limit
        = link_to new_dream_path, :class => 'new' do
          %i.fa.fa-plus-circle.fa-2x

= render :partial => 'shared/notices', :locals => {:show => :warning}

%section.dreams.row
  .col-xs-12
    - if @dreams.present?
      = render @dreams
    - else
      .alert.alert-info.text-center
        - add_link = link_to t('.adding_dream'), new_dream_path, :class => 'alert-link'
        = raw t('.no_dreams', :link => add_link)
