- @title = 'Signin'

- unless flash.empty?
  .alert.alert-error
    %strong Oops!
    = flash[:error]

= form_for :session, :url => login_path, :html => {:class => 'form-horizontal'} do |f|
  = render :partial => 'shared/signin', :locals => {:f => f}
  .control-group
    %span.controls
      = f.submit 'Signin', :class => 'btn btn-primary'

      %span.new-user
        New user?
        = link_to "Register for an account.", signup_path
