- @title = t('.title')

-# if we did not just update the email, add notice about email confirmation
- if flash.empty? && @account.pending_reconfirmation?
  - resend_link = link_to t('.resend_email'), new_account_confirmation_path, :class => 'alert-link'
  - flash.now[:warning] = t('.unverified_email_html', :email => @account.unconfirmed_email, :link => resend_link)

.notices
  = render :partial => 'shared/notices'

%section.subsection
  %h4= t('.update_header')
  = form_for @account, :url => account_registration_path, :method => :patch,
      :html => {:class => 'form-horizontal'} do |f|
    - form_group_for(@account, :first_name) do
      = f.label :first_name, t('.first_name'), :class => 'col-sm-2 control-label'
      .col-sm-3
        = f.text_field :first_name, :autofocus => true, :class => 'form-control'
        - error_for @account, :first_name
    .form-group
      = f.label :last_name, t('.last_name'), :class => 'col-sm-2 control-label'
      .col-sm-3
        = f.text_field :last_name, :autofocus => true, :class => 'form-control'
    - form_group_for(@account, :email) do
      = f.label :email, t('.email'), :class => 'col-sm-2 control-label'
      .col-sm-3
        = f.text_field :email, :class => 'form-control'
        - error_for @account, :email
    .form-group
      .col-sm-offset-2.col-sm-3
        = f.submit t('.update_account'), :class => 'btn btn-primary',
          :data => { :disable_with => t('.update_account') }

%section.subsection
  %h4= t('.delete_header')
  = form_for @account, :url => account_registration_path, :method => 'delete',
      :html => {:class => 'form-horizontal'} do |f|
    .form-group
      .col-sm-offset-2.col-sm-3
        = f.submit t('.delete'), :class => 'btn btn-danger',
          :data => { :disable_with => t('.delete'), :confirm => '#confirm_dialog' }

<!-- confirm_dialog -->
= render :partial => 'shared/confirm_dialog', :locals => { :dialog_id => 'confirm_dialog',
  :dialog_message => t('.confirm_delete'), :dialog_title => t('.confirm_title') }
