- @title = t('.title')

= render :partial => 'shared/notices'

- if oauth_authenticated?
  = form_for @account, :url => account_registration_path, :html => {:class => 'form-horizontal'} do |f|
    .form-group
      .col-sm-offset-1.col-sm-4
        %h4= t('.signup')
    = f.hidden_field :remember_me, :value => true
    - form_group_for(@account, :first_name) do
      = f.label :first_name, t('.first_name'), :class => 'col-sm-2 control-label'
      .col-sm-3
        = f.text_field :first_name, :autofocus => true, :class => 'form-control'
        - error_for @account, :first_name
    .form-group
      = f.label :last_name, t('.last_name'), :class => 'col-sm-2 control-label'
      .col-sm-3
        = f.text_field :last_name, :autofocus => true, :class => 'form-control'
    - form_group_for(@account, :email) do
      = f.label :email, t('.email'), :class => 'col-sm-2 control-label'
      .col-sm-3
        = f.text_field :email, :autofocus => true, :class => 'form-control'
        - error_for @account, :email
    .form-group
      .col-sm-offset-2.col-sm-3
        = f.submit t('.submit'), :class => 'btn btn-primary'
        = link_to t('.cancel'), cancel_account_registration_path, :class => 'btn btn-default'
- else
  = form_tag nil, :class => 'form-horizontal registrations' do |f|
    .form-group
      .col-sm-offset-1.col-sm-10
        %h4= t('.signup')
    .form-group
      .col-sm-offset-1.col-sm-10
        .input-group.provider
          - auth_link = account_omniauth_authorize_path(:facebook)
          %span.input-group-btn
            = link_to auth_link, :class => 'btn btn-facebook' do
              = image_tag 'facebook.png', :class => 'logo-facebook'
          = link_to t('.facebook'), auth_link, :class => 'form-control btn btn-facebook'
    .form-group
      .col-sm-offset-1.col-sm-10
        .input-group.provider
          - auth_link = account_omniauth_authorize_path(:google)
          %span.input-group-btn
            = link_to auth_link, :class => 'btn btn-google' do
              = image_tag 'google.png', :class => 'logo-google'
          = link_to t('.google'), auth_link, :class => 'form-control btn btn-google'
    %br
    .form-group
      .col-sm-offset-1.col-sm-10
        = link_to new_account_session_path, :class => 'secondary-link' do
          = t('.login')
          %i.fa.fa-chevron-circle-right
