- @title = 'Signup'

= form_for @user, :url => signup_path, :html => {:class => 'form-horizontal'} do |f|
  .control-group
    = f.label :name, 'Name:', :class => 'control-label'
    .controls
      = f.text_field :name
  = render :partial => 'shared/signin', :locals => {:f => f, :model => @user}
  .control-group
    = f.label :password_confirmation, 'Confirm:', :class => 'control-label'
    .controls
      = f.password_field :password_confirmation
  .control-group
    .controls
      = f.submit 'Signup', :class => 'btn btn-primary'
      = link_to 'Cancel', root_url, :class => 'btn'
