- @title = t('.title')

= render :partial => 'shared/notices'

= form_for @account, :url => account_password_path, :method => :patch, :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :reset_password_token
  - form_group_for(@account, :password) do
    = f.label :password, t('.password'), :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.password_field :password, :class => 'form-control'
      - error_for @account, :password
  - form_group_for(@account, :password_confirmation) do
    = f.label :password_confirmation, t('.password_confirmation'), :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.password_field :password_confirmation, :class => 'form-control'
      - error_for @account, :password_confirmation
  .form-group
    .col-sm-offset-2.col-sm-4
      = f.submit t('.submit'), :class => 'btn btn-primary'
