.login-link.pull-right
  = link_to t('.login'), new_account_session_path, :class => 'btn btn-link btn-lg'
.dream-splash
  = image_tag 'dreamgram.gif'
  .title
    %h1= t('.title')
    %h2= t('.subtitle')
    = link_to t('.signup'), new_account_registration_path, :class => 'btn btn-primary btn-lg'
