.caption
  = t('.caption')

.dream-splash
  %h1
    = t('.title')
  .subtitle
    = t('.subtitle_html')
  = link_to t('.signup'), new_account_registration_path, :class => 'btn btn-signup'
  = link_to t('.login'), new_account_session_path, :class => 'btn btn-login'
