- @title = t('.title')

- if flash[:alert].present?
  .alert.alert-danger
    %strong Oops!
    = flash[:alert]

= form_for :user, :url => new_user_session_path, :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :remember_me, :value => true
  = render :partial => 'devise/shared/credentials', :locals => {:form => f, :autofocus => true}
  .form-group
    %span.col-sm-offset-2.col-sm-5
      = f.submit t('.submit'), :class => 'btn btn-primary'
      %span.secondary-link
        = link_to t('.forgot_password'), new_user_password_path
  .form-group
    .col-sm-offset-2.col-sm-5
      = t('.new_user')
      = link_to t('.register'), new_user_registration_path
