- @title = t('.title')

- if confirm_email_alert?
  -# replace with message that includes resend link
  - resend_link = link_to t('.resend_email'), new_account_confirmation_path, :class => 'alert-link'
  - flash.now[:alert] = t('.unconfirmed_html', :link => resend_link)

= render :partial => 'shared/notices'

= form_tag nil, :class => 'form-horizontal' do |f|
  .form-group
    .col-sm-offset-1.col-sm-3
      %h4= t('.login')
  .form-group
    .col-sm-offset-1.col-sm-3
      .input-group.provider
        - auth_link = account_omniauth_authorize_path(:facebook)
        %span.input-group-btn
          = link_to auth_link, :class => 'btn btn-facebook' do
            = image_tag 'facebook.png', :class => 'logo-facebook'
        = link_to t('.facebook'), auth_link, :class => 'form-control btn btn-facebook'
  .form-group
    .col-sm-offset-1.col-sm-3
      .input-group.provider
        - auth_link = account_omniauth_authorize_path(:google)
        %span.input-group-btn
          = link_to auth_link, :class => 'btn btn-google' do
            = image_tag 'google.png', :class => 'logo-google'
        = link_to t('.google'), auth_link, :class => 'form-control btn btn-google'
  %br
  .form-group
    .col-sm-offset-1.col-sm-3
      = link_to new_account_registration_path, :class => 'secondary-link' do
        = t('.register')
        %i.fa.fa-chevron-circle-right
