- @title = t('.title')

- if confirm_email_alert?
  -# replace with message that includes resend link
  - resend_link = link_to t('.resend_email'), new_account_confirmation_path, :class => 'alert-link'
  - flash.now[:alert] = t('.unconfirmed_html', :link => resend_link)

= render :partial => 'shared/notices'

= form_for :account, :url => new_account_session_path, :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :remember_me, :value => true
  = render :partial => 'devise/shared/credentials', :locals => {:form => f, :autofocus => true}
  .form-group
    .col-sm-offset-2.col-sm-5
      = f.submit t('.submit'), :class => 'btn btn-primary'
  .form-group
    .col-sm-offset-2.col-sm-5
      = link_to new_account_password_path, :class => 'secondary-link' do
        = t('.forgot_password')
        %i.fa.fa-chevron-circle-right
      = link_to new_account_registration_path, :class => 'secondary-link' do
        = t('.register')
        %i.fa.fa-chevron-circle-right
