- content_for :body do
  - if user_signed_in?
    %section.profile
      = button_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'btn-link'

  %header.row
    .col-xs-12
      .header
        %h1
          = link_to 'DREAMGRAM', dreams_path
        - if user_signed_in?
          %h1.user-name= current_user.name.upcase
        = yield :header

  = yield

= render template: 'layouts/scaffold'
