!!!
%html
  %head
    %title Dreamgram
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://use.typekit.com/snx8sle.js'
    = javascript_tag 'try{Typekit.load()}catch(e){}'
    = csrf_meta_tags
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}

  %body.container-fluid
    = yield
