- content_for :body do
  .feedback
    = link_to '#feedback_modal', :'data-toggle' => "modal" do
      %i.fa.fa-envelope
      %span= t('.feedback.link')

  <!-- feedback_modal -->
  .modal{:id => 'feedback_modal', :tabindex => '-1', :role => 'dialog'}
    .modal-dialog
      .modal-content
        = form_tag feedback_path, :remote => true, :class => 'form-horizontal' do
          .modal-header
            %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
              &times;
            %h4.modal-title= t('.feedback.title')
          .modal-body
            .form-group
              = text_area_tag 'email[feedback]', nil, :rows => 4, :class => 'form-control'
          .modal-footer
            %button.btn.btn-default{:type => 'button', :'data-dismiss' => 'modal'}= t('.feedback.close')
            = submit_tag t('.feedback.submit'), :class => 'btn btn-primary'

  %section.profile
    .brand
      = link_to account_root_path do
        = image_tag 'dreamgram_28.gif'
    .navigation
      - if account_signed_in?
        = link_to t('.account'), edit_account_registration_path, :class => 'btn-link'
        = button_to t('.logout'), destroy_account_session_path, :method => :delete, :class => 'btn-link'
      - else
        = link_to t('.login'), new_account_session_path, :class => 'btn-link login'

  %header.row
    .col-xs-12
      .header
        %h1
          = link_to t('layouts.header').upcase, account_root_path
        %h1.account-name= @account.full_name.upcase
        = yield :header

  = yield

  %footer
    = t('layouts.copyright_html')

= render template: 'layouts/scaffold'
