- content_for :body do
  %section.profile
    .navigation
      - if account_signed_in?
        = link_to t('.account'), edit_account_registration_path, :class => 'btn-link'
        = button_to t('.logout'), destroy_account_session_path, :method => :delete, :class => 'btn-link'
      - else
        = link_to t('.login'), new_account_session_path, :class => 'btn-link login'

  %header.row
    .col-xs-12
      .header
        %h1
          = link_to t('layouts.header').upcase, account_root_path
        %h1.account-name= @account.name.upcase
        = yield :header

  = yield

= render template: 'layouts/scaffold'
