- content_for :body do
  %section.profile
    .brand
      = link_to account_root_path do
        = image_tag 'dreamgram_28.gif'

  %header.row
    .col-xs-12
      -# Border style is attached to header
      .header

  = yield

  %footer
    = t('layouts.copyright_html')

= render template: 'layouts/scaffold'
