!!!
%html
  %head
    %title= page_title(@title)
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag 'home', :media => 'all'
    = csrf_meta_tags
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}

  %body.container
    = yield
